.design{
    width: 100%;
    height: auto;
}
.designSmapel{
    height: 50vh;
    background-image: url('https://images.unsplash.com/photo-1567767292278-a4f21aa2d36e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.designTextbox{
    height: 50vh;
}
.designText{
    height: 50vh;
    width: 60%;
    background: rgb(48, 31, 1);
    ;
}
.designBack{
    height: 50vh;
    width: 40%;
    background-image: url('https://images.unsplash.com/photo-1519947486511-46149fa0a254?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGNoYWlyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.designText button {
    background: rgb(57, 36, 1);
    padding: 5px 13px;
    border-radius: 12px;
    color: white;
}