.product{
    width: 100%;
    height: auto;
    background: #f4f2ef;
}
.productText .underline{
    font-weight: 700;
    border-bottom: 4px solid rgb(57, 36, 1);
}
.productText span{
    font-weight: 700;
}
.productText button {
    width: 100px;
    background: rgba(57, 37, 1, 0.489);
    padding: 5px 13px;
    border-radius: 12px;
    color: white;
}
.productDesc button {
    width: 130px;
    background: rgba(57, 37, 1, 0.489);
    padding: 5px 13px;
    border-radius: 12px;
    border: none;
    color: white;
}
.product img{
    width: 100%;
    height: 300px;
}