.login{
    width: 100vw;
    height: 100vh;
    background: rgb(48, 31, 1);
}
.loginLeft{
    width: 35vw;
    height: 100vh;
}
.loginRight{
    width: 100%;
    height: 100vh;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    background: #f4f2ef;
    display: flex;
    align-items: center;
    justify-content: center;

}
@media (max-width: 992px){
    .loginRight{
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
    }
}