#HeaderNav {
    /* background: rgba(250, 230, 174, 0.336);
    background-color:linear-gradient(178deg, rgba(250, 230, 174, 0.523) 2%, rgba(147, 112, 17, 0.468) 120%); */
    background: rgb(222, 203, 167);
    z-index: 99;
}

.dropdown-menu {
    background: rgb(57, 36, 1) !important;
    color: white;
}

.dropdown-item {
    color: white !important;
}

.dropdown-item:hover {
    background: rgb(90, 67, 6) !important;
}

.dropdown-divider {
    background: white;
}

.cart-summary button {
    background: #322004 !important;
}

.cart-summary button span {
    background: transparent !important;
    border: none !important;
}



